{{ define "main" }}
  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">{{ .Params.title }}</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          {{ .Params.coverIntro }}
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="{{ .Params.liveLink }}" class="btn btn--bg" target="_blank">Live Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img
            src="{{ .Params.cover }}"
            alt="Project Image"
            class="project-details__showcase-img"
          />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h3 class="project-details__content-title">Project Overview</h3>
            <p class="project-details__desc-para">
              {{ plainify .Content }}
            </p>
          </div>
          <div class="project-details__tools-used">
            <h3 class="project-details__content-title">Tools Used</h3>
            <div class="skills">
              {{ range .Params.techStack }}
                <div class="skills__skill"> {{ . }}</div>  
              {{ end}}
            </div>
          </div>
          <div class="project-details__links">
            <h3 class="project-details__content-title">See Live</h3>
            <a
              href="{{ .Params.liveLink }}"
              class="btn btn--med btn--theme project-details__links-btn"
              target="_blank"
              >Live Link</a
            >
            {{ if .Params.codeLink }}
              <a
                href="{{ .Params.codeLink }}"
                class="btn btn--med btn--theme-inv project-details__links-btn"
                target="_blank"
                >Code Link</a
              >
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
