    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">About Me</span>
          <span class="heading-sec__sub">
            Aspring engineering looking to become a fullstack developer.
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Get to know me!</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                Hello, I'm <strong>Wuyuan</strong>, a <strong>backend software engineer</strong> 
                with a passion for designing and optimizing systems to deliver efficient solutions. 
                I've worked <strong>remotely</strong> fulltime, collabrated with teammates 
                in different timezone, and <strong>lead development</strong> of various applications.
                My goal is to combine my technical skills and effective teamwork to
                create impactful products.
              </p>
              <p class="about__content-details-para">
                I'm a bit of a digital product junky. Over the years, I've used
                hundreds of web and mobile apps in different industries and
                verticals. Feel free to
                <strong>contact</strong> me here.
              </p>
            </div>
            <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contact</a
            >
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">My Skills</h3>
            <div class="skills">
              <div class="skills__skill">python</div>
              <div class="skills__skill">flask</div>
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">vuejs3</div>
              <div class="skills__skill">SQL</div>
              <div class="skills__skill">flutter</div>
              <div class="skills__skill">Hugo</div>
            </div>
          </div>
        </div>
      </div>
    </section>