    <section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">Hey, My name is Wuyuan Chen</h1>
        <div class="home-hero__info">
          <p class="text-primary">
            A backend focused web developer learning to build fullstack web applications that leads to the success of the overall product
          </p>
        </div>
        <div class="home-hero__cta">
          <a href="./#projects" class="btn btn--bg">Projects</a>
        </div>
      </div>
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a href="https://www.linkedin.com/in/wuyuan/" class="home-hero__social-icon-link" target="_blank">
            <img
              src="/png/linkedin-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a href="https://gitlab.com/wuyuan_chen" class="home-hero__social-icon-link" target="_blank">
            <img
              src="png/github-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <!-- <div class="home-hero__social">
          <a href="#" class="home-hero__social-icon-link">
            <img
              src="png/yt-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a
            href="#"
            class="home-hero__social-icon-link home-hero__social-icon-link--bd-none"
          >
            <img
              src="png/insta-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div> -->
      </div>
      <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div>
    </section>