<section id="projects" class="projects sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-bg">
      <span class="heading-sec__main">Projects</span>
      <span class="heading-sec__sub">
        Here you will find personal projects that I have done.
      </span>
    </h2>

    <div class="projects__content">
      {{ range site.RegularPages }}
        <div class="projects__row">
          <div class="projects__row-img-cont">
            <img
              src="{{ .Params.cover }}"
              alt="Software Screenshot"
              class="projects__row-img"
              loading="lazy"
            />
          </div>
          <div class="projects__row-content">
            <h3 class="projects__row-content-title">{{ .LinkTitle }}</h3>
            <p class="projects__row-content-desc">
              {{ .Params.summary }}
            </p>
            <a
              href="{{ .RelPermalink }}"
              class="btn btn--med btn--theme dynamicBgClr"
              >Case Study</a
            >
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>